.product-carousel {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    min-height: 400px;
}

.products-carousel__slides {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: azure;
   
   
   
    
}

.slide{
    animation: 1s slide;
    cursor: pointer;
}
.indicators {
  position: absolute;
  bottom: 30%;
  right: 50%;
}

.indicator {
    cursor: pointer;
}
@keyframes slide {

    0% {
      opacity: 0;
      margin-left: -300px;
    }
    
    100% {
      opacity: 1;
      margin-left: 0;
    }
  
  }




